*, ::after, ::before {
  box-sizing: border-box;
}

html {
  --white-smoke: #F4F4F4;
  --independence: #435362;
  --eerie-black: #000D21;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0;
  background-color: var(--eerie-black);
}

nav {
  grid-area: nav;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: var(--white-smoke);
  text-decoration: none;
}

.brand {
  font-size: .85rem;
  letter-spacing: 3px;
  display: flex;
  padding-left: 30px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  margin-right: 2rem;
  font-family: 'Sulphur Point', sans-serif;
}

.nav li {
  font-size: .65rem;
}

.nav>li>a {
  padding-top: 10px;
  height: 40px;
}

.nav li:hover:first-of-type {
  font-style: normal;
  background-color: inherit;
}

.nav li:hover a:first-of-type {
  color: var(--white-smoke);
}

.nav li:hover {
  text-decoration: line-through;
}

.nav li:hover a {
  color: var(--independence);
}

.navlink {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 10px;
  color: var(--white-smoke);
}

.navlink a {
  color: var(--white-smoke);
  text-decoration: none;
  font-size: 1.2em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}

.project {
  margin: 0 10px;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  height: 100%;
  /* width: 25%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project a {
  color: var(--white-smoke);
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
}

.project h1 {
  margin: 0;
}

.project p {
  margin: 0;
  font-size: 0.85rem;
  font-style: italic;
  color: var(--white-smoke);
  font-family: 'Quicksand', sans-serif;
}

/* .lazyGrocer {
  background-image: url('../images/lazyGrocer1.png');
} */

.reviewSite {
  /* background-image: url('../images/reviewSite.png'); */
  background-position: initial;
}

/* .virtualPet {
  background-image: url('../images/petShelter1.png');
} */

.fortuneTeller {
  /* background-image: url('../images/fortuneTeller.png'); */
  background-position: center;
}

footer {
  grid-area: footer;
  color: var(--white-smoke);
  display: flex;
  align-items: center;
  padding-left: 3rem;
  /* justify-content: center; */
}

footer a {
  font-size: .75rem;
  color: var(--white-smoke);
  text-decoration: none;
}

footer a:last-of-type {
  margin-left: 2rem;
}

@media screen and (max-width: 678px) {
  .project {
    height: initial;
    width: calc(100vw - 20px);
    background-size: contain;
    background-repeat: space;
  }

  .lazyGrocer {
    background-image: url('../images/lazyGrocer1.png');
  }

  .reviewSite {
    background-image: url('../images/reviewSite.png');
    /* background-position: initial; */
  }

  .virtualPet {
    background-image: url('../images/petShelter1.png');
  }

  .fortuneTeller {
    background-image: url('../images/fortuneTeller.png');
    /* background-position: center; */
  }

  footer {
    justify-content: center;
    padding: 0;
  }

  /* .nav {
    margin: 0;
    background-color: var(--eerie-black);
    position: absolute;
    right: 0;
    display: block;
    top: -100%;
    width: 30%;
    height: calc(30% - 60px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    transition: all 1000ms;
  }

  .navlink {
    text-align: center;
  }

  .navlink:hover {
    background-color: var(--eerie-black);
    ;
  }

  .navlink:hover a {
    color: var(--white-smoke);
  }

  .navlink a {
    color: var(--white-smoke);
  }

  .nav-active {
    top: 60px;
    display: flex;
    z-index: 1;
  } */
}
