/* *, ::after, ::before {
  box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css?family=Corben');

html {
  background: url('../images/pexels-photo-323645.jpeg') no-repeat center center fixed;
  background-size: cover;
}

body {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "article article ads"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 25%;
  grid-gap: 2px;
  min-height: 100vh;
  margin: 0;
}

nav {
  grid-area: nav;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logo {
  letter-spacing: 3px;
  display: flex;
  padding-left: 30px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  /* background-color: green; */
}

.nav>.navlink>a {
  padding-top: 20px;
  height: 40px;
}

.navlink:hover {
  background-color: rgba(255, 255, 255, 1);
}

.navlink:hover a {
  color: #333;
  font-style: italic;
}

.navlink {
  margin: 0;
  display: flex;
  list-style: none;
  /* background-color: yellow; */
  padding: 10px;
}

.navlink a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.burger {
  font-size: 1.2em;
  display: none;
  padding-right: 30px;
}

#mainArticle {
  grid-area: article;
  display: flex;
  align-items: center;
  margin-left: 2px;
}

img {
  display: block;
  width: 300px;
  height: 400px;
  margin-right: 10px;
  display: block;
}

.c-carousel__slides > li > a {
  text-decoration: none;
  color: #333;
}

h2 {
  text-align: center;
}

img:first-of-type {
  width: 800px;
}

.c-carousel {
  width: 100%;
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}

.c-carousel__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  background-color: white;
}

.c-carousel__arrow--left {
  left: 15px;
}

.c-carousel__arrow--right {
  right: 15px;
}

.c-carousel__slides {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  will-change: transform;
}

#siteAds {
  grid-area: ads;
  border: 2px solid #333;
  border-radius: 25px 0 0 25px;
  background-color: rgba(255, 255, 255, .8);
}

#siteAds>h2 {
  text-align: center;
  text-decoration: underline;
}

#siteAds .back-end-list>li {
  list-style-type: none;
  font-weight: bolder;
  margin-bottom: 5px;
  font-size: 1.3em;
}

#siteAds .java-list {
  list-style-type: none;
  padding-left: 5%;
}

#siteAds .java-list li:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
}

#siteAds .front-end-list li {
  list-style-type: none;
  font-weight: bolder;
  margin-bottom: 5px;
  font-size: 1.3em;
}

#siteAds .front-end-list li:nth-of-type(3), #siteAds .front-end-list li:nth-of-type(4) {
  font-weight: normal;
}

#siteAds .front-list {
  list-style-type: none;
  padding-left: 5%;
}

#siteAds .front-list li:first-of-type {
  font-weight: bold;
  font-size: 1.2em;
}

#pageFooter {
  grid-area: footer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageFooter a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 678px) {
  .burger {
    display: block;
  }

  .nav {
    margin: 0;
    background-color: #333;
    position: absolute;
    /* right: -100%; */
    right: 0;
    display: block;
    /* top: 60px; */
    top: -100%;
    width: 30%;
    /* height: calc(100% - 280px); */
    height: calc(30% - 60px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    transition: all 1000ms;
  }

  .navlink {
    text-align: center;
  }

  .navlink:hover {
    background-color: #333;;
  }

  .navlink:hover a {
    color: #fff;
  }

  .navlink a {
    color: #fff;
  }

  .nav-active {
    /* right: 0; */
    top: 60px;
    display: flex;
    z-index: 1;
  }
}
