Body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #000D21;
  color: #F4F4F4;
}
/****** start projects style ******/
.projects {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
.repos {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  width: 25vw;
}
.repos:hover {
  font-weight: bold;
  background-color: #39393A;
}
.repos > a,
.repos > a:hover {
  font-size: 32px;
  font-family: 'Mulish';
  color: white;
  text-decoration: none;
}
/****** end projects style ******/
/****** start about style ******/
.about {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
}
.content {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.content > p {
  font-family: 'Mulish';
}
.contact {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact a,
.contact a:hover {
  color: white;
  text-decoration: none;
  font-family: 'Mulish';
}
.content img {
  margin-right: 0.5em;
  transition: transform .8s ease-in-out;
}
.contact img:hover  {
  transform: rotate(360deg);
}
/****** end about style ******/

@media screen and (max-width: 768px) {

  .home > .row > .col:last-of-type {
    padding-top: 4em;
  }
  .projects {
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .repos {
    height: 25%;
    width: 100%;
    justify-content: center;
  }
  .about {
    margin-left: 2em;
    margin-right: 2em;
  }
  .content {
    margin-left: 2em;
  }
}
