.photos__spinner {
  display: flex;
  justify-content: center;
}

.photos-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.photos-list__item {
  padding-left: 20px;
  padding-right: 20px;
}
